<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>File Sharing</title>
</head>
<body>
<div class="container mt-5">
    <h1>Files available for download:</h1>
    <ul>
        {% for file in files %}
            <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>

    <h2>Upload a new file:</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo() }}
        </p>
        <p><input type="submit" value="Upload"></p>
    </form>

</div>
</body>
</html>
